/*
.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black,
 */

form.role-perm-table .btn-group {
    margin-left: 0.8em;
}

.dropdown-menu {
    z-index: 999 !important;
    position: absolute;
    margin-left: -15px;
}

.box-body .roles {
    margin-bottom: 88px !important;
}

.box-body .tasks {
    margin-bottom: 139px !important;
}

.admin, .manager, .worker {
    border: 0 !important;
    color: #fff;
}

.admin {
    background-color: #dd4b39 !important;
}

.manager {
    background-color: #FF851B !important;
}

.worker {
    background-color: #F012BE !important;
}

.pointer {
    cursor: pointer;
}

input.phone {
    width: 105px;
}

.label-del {
    margin-left: -5px;                             
}









